---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResponsiveEmbed from '../components/ResponsiveEmbed.astro';
---

<BaseLayout title="filmmaking">
  <h1>filmmaking</h1>

  <p>I'm a film enthusiast and a willing learner. I'm enthusiastic about exposing the flavor and motives of world cinema to more audiences.</p>

  <p><a href="https://writers.coverfly.com/profile/nikhil" target="_blank" rel="noopener noreferrer">Find me on Coverfly</a></p>

  <h2>Experience</h2>

  <h4>Full Circle</h4>

  <p>This is a story about a boy with a moral dilemma who is determined to put things right, after a scarring incident with a kindly record store owner. A love for music is the throughline.</p>

  <p>I was: Writer, Script Supervisor</p>

  <ResponsiveEmbed
    src="https://drive.google.com/file/d/1a7GnxAJ-v0XqbCXFJM_NRogf1IX4Fs3D/preview"
    title="Full Circle"
    blockCorner
  />

  <h3>Editing projects</h3>

  <h4>Biddu Appaiah: A Brief History</h4>
  <p>This is a mini documentary about a legend of disco music that not many people might know about. I wrote the script for it after doing research across various sources. The voice is generated. Forgive the occasionally incorrect captions.</p>

  <ResponsiveEmbed
    src="https://www.youtube.com/embed/GpC4x9U-1E4?si=BBQw2uZZL4R_BL6H"
    title="Biddu Appaiah: A Brief History"
  />

  <h4>Ominous</h4>
  <p>Stock footage, but bespoke sound, composed by me, to evoke the sense of dread.</p>

  <ResponsiveEmbed
    src="https://www.youtube.com/embed/O9qrzgapB8k?si=dBTe_HimJVmP82Cy"
    title="Ominous"
  />

  <h4>Solace</h4>
  <p>The idea was to capture the calm associated with visiting a coffee shop. It was also supposed to be an advertisement for the shop. I do not think it serves very well as an ad, but it was an attempt at capturing an experience.</p>

  <ResponsiveEmbed
    src="https://www.youtube.com/embed/hcr2B4-rxWo?si=em2H-HLYb4ePEzFz"
    title="Solace"
  />
</BaseLayout>
