---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="gigs - memories">
  <h1>gigs - memories</h1>

  <p>I've played a few shows over time, here's a list of some of the memorable ones.</p>

  <h2>2024</h2>
  <ul>
    <li>Krunk Haus @ Bonobo, Mumbai</li>
    <li>w/ Anunaku @ Bangalore</li>
    <li>w/ Kush Jones @ Singapore</li>
  </ul>

  <h2>2022</h2>
  <ul>
    <li>July 12 - w/ Tarqueeb @ Mumbai</li>
    <li>July 8 - Dance OK Please w/ Oceantied & Benkii @ Indiranagar Social, Bangalore</li>
  </ul>

  <h2>2017</h2>
  <ul>
    <li>May 27 - Sub City @ Piedra Negra, Singapore</li>
  </ul>

  <h2>2016</h2>
  <ul>
    <li>October 21 - Toasted Trax 2 @ Codeword, San Francisco</li>
    <li>July 2 - Rumpshakers: Amit + Compa @ District 28, Toronto</li>
    <li>May 22 - GANZ + Addison Groove @ Velvet Underground, Toronto</li>
    <li>March 8 - Mumdance + DJ Earl @ Monarch, San Francisco</li>
    <li>February 14 - Kush Jones @ Rocksteady, Los Angeles</li>
    <li>SXSW - Saturday Night Killing Machine @ Austin</li>
    <li>Alone Time w/ Kush Jones @ Toronto</li>
    <li>ULIN w/ Planet Mu @ TBD</li>
  </ul>

  <p>
    <a href="https://www.bandwagon.asia/articles/phyla-bossman-iyer-headlines-sub-city-s-next-drum-bass-rinse-out" target="_blank" rel="noopener noreferrer">subcity</a>
  </p>

  <p>
    <a href="https://www.thewildcity.com/mixes/3111-wild-city-092-iyer" target="_blank" rel="noopener noreferrer">wild city mix</a>
  </p>
</BaseLayout>
