---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="iyer">
  <h1>iyer</h1>

  <p>The best catalog of my music can be found at this <a href="https://www.soundcloud.com/iyer" target="_blank" rel="noopener noreferrer">SoundCloud link.</a></p>

  <div class="my-6">
    <iframe
      width="100%"
      height="600"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/237418393&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
      class="rounded-lg"
      title="SoundCloud Playlist"
      loading="lazy"
    ></iframe>
  </div>

  <p>You can buy my stuff generally anywhere, but best on <a href="https://iyer.bandcamp.com" target="_blank" rel="noopener noreferrer">Bandcamp.</a></p>

  <div class="my-6">
    <iframe
      style="border: 0; width: 350px; height: 470px;"
      src="https://bandcamp.com/EmbeddedPlayer/album=197258095/size=large/bgcol=ffffff/linkcol=f171a2/tracklist=false/transparent=true/"
      title="Farewell by Iyer on Bandcamp"
      loading="lazy"
    ></iframe>
  </div>

  <p>Streaming services only contain a subset of my music. This is my way of saying thank you to all those fans who found and supported my music before. But that's not to say I won't re-release the back catalogue - rather, that time will come.</p>

  <div class="my-6">
    <iframe
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/artist/1u7B3ROAlS1Q6k5Wo8fZvY?utm_source=generator"
      width="100%"
      height="352"
      allowfullscreen
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      title="Iyer on Spotify"
      loading="lazy"
    ></iframe>
  </div>

  <div class="my-6">
    <iframe
      height="450"
      width="100%"
      title="Third Culture Tamilian on Apple Music"
      src="https://embed.music.apple.com/us/album/third-culture-tamilian-ep/1475783867?itscg=30200&itsct=music_box_player&ls=1&app=music&mttnsubad=1475783867&theme=light"
      sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation"
      allow="autoplay *; encrypted-media *; clipboard-write"
      style="border: 0px; border-radius: 12px; width: 100%; height: 450px; max-width: 660px;"
      loading="lazy"
    ></iframe>
  </div>
</BaseLayout>
