---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="now - releases">
  <h1>now - releases</h1>

  <p>I spend a lot of my time digging through world music, looking for inspiration, while melding my love for cinema and music together with my love for technology.</p>

  <h2>Major releases</h2>

  <p>I've released a fair few things over time, across various compilations that are probably lost to time. I'm also not someone who lives in the past, though I am guilty of revisiting my own stuff. That being said, I'd prefer to have a record of it that can embarrass me somewhere, rather than lose it to time.</p>

  <h3>Third Culture Tamilian</h3>

  <div class="my-6">
    <iframe
      style="border: 0; width: 100%; height: 120px;"
      src="https://bandcamp.com/EmbeddedPlayer/album=1028778838/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
      title="Third Culture Tamilian by Iyer"
      loading="lazy"
    ></iframe>
  </div>

  <p>This is, as of writing, the most personal work to me. I always felt I needed one project to - really - say something, where it was about pushing the personal envelope. I got to showcase some of my favourite styles across these tracks, but the undercurrent to all of it is about music - that - slaps.</p>

  <p>What I really wanted from the audiovisual presentation of this work was to propagate the idea that I knew I was somewhat confused about who I was, yet I could admit to it.</p>

  <p>Up to this point I had never put myself into the project. It was strictly dance music, and it was important to me to respect my audience, the DJs, who need music to play. I made music for them first.</p>

  <p>But time dictated the ideation of a personal project, something where I could describe what I felt as a diaspora Indian Tamilian growing up. I also needed some variety and experimentation in the album, but I couldn't really overthink it either, or it wouldn't get done. So over a 5 year period, I made the music that ended up becoming this album. I was fortunate to have a remix from a - very - good producer too: <a href="https://soundcloud.com/breaka" target="_blank" rel="noopener noreferrer">Breaka</a>.</p>

  <h3>Tamil Footwork EP</h3>

  <div class="my-6">
    <iframe
      style="border: 0; width: 100%; height: 120px;"
      src="https://bandcamp.com/EmbeddedPlayer/album=1680665793/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
      title="Tamil Footwork EP by Iyer"
      loading="lazy"
    ></iframe>
  </div>

  <p>Mark Kloud spearheads Ground Mass Music out of Buffalo, New York. That was the label that this released on. He and I bonded over a common background in Sony Acid Pro, which led to a productive collaborative period I look back on fondly. I released a lot of music with him. His recognition of me was the springboard to the many things that happened later on as Iyer.</p>

  <p>This was the first test of the sound for me.</p>

  <h3>Tamil Footwork Remix EP</h3>

  <div class="my-6">
    <iframe
      style="border: 0; width: 100%; height: 120px;"
      src="https://bandcamp.com/EmbeddedPlayer/album=3898135580/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
      title="Tamil Footwork Remix EP by Iyer"
      loading="lazy"
    ></iframe>
  </div>

  <p>I was really fortunate to be making this kind of music around people who were so supportive and believed in my ideas, contributing their blood, sweat and tears to augment the experience of listening to Tamil samples in footwork. Released on Ground Mass Music as well.</p>

  <h3>Get High EP</h3>

  <div class="my-6">
    <iframe
      style="border: 0; width: 100%; height: 120px;"
      src="https://bandcamp.com/EmbeddedPlayer/album=2649553544/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
      title="Get High EP by Iyer"
      loading="lazy"
    ></iframe>
  </div>

  <p>This one is just about unapologetic party music. I released this on Phyla Digital (a Singapore based label I co-founded that will probably need another page of its own).</p>

  <h3>Farewell</h3>

  <div class="my-6">
    <iframe
      style="border: 0; width: 100%; height: 120px;"
      src="https://bandcamp.com/EmbeddedPlayer/album=197258095/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
      title="Farewell by Iyer"
      loading="lazy"
    ></iframe>
  </div>

  <p>Farewell was about saying goodbye, in general. Released in 2020, after Third Culture Tamilian. Also unapologetic party music, but this time I included some world music variety with intention.</p>
</BaseLayout>
