---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="the early days - influences">
  <h1>the early days - influences</h1>

  <p>My roots in DJing were born from a love of music. I stumbled across drum and bass and obsessed about learning how to DJ. Some music left more of an impact on me than others:</p>

  <ul>
    <li>A.R Rahman</li>
    <li>Pink Floyd</li>
    <li>Tamil songs</li>
    <li>Metal (death, nu, etc), alt rock.</li>
    <li>R&B</li>
    <li>Rap & hip-hop</li>
    <li>Old school house music</li>
    <li>Early Daft Punk</li>
    <li>90s jungle music</li>
    <li>Noisia, Rockwell, DJ Hazard</li>
    <li>Ilayaraja</li>
    <li>Gqom music (e.g DJ Lag)</li>
    <li>south african house music</li>
    <li>metal bands from india, bengaluru (pre-2010 inner sanctum)</li>
    <li>pendulum</li>
    <li>skeptical, dbridge</li>
    <li>amapiano</li>
    <li>royksopp</li>
  </ul>

  <p>Not exhaustive.</p>
</BaseLayout>
