---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="music">
  <h1>music</h1>

  <p>I've spent a lot of time in and around music. My childhood involved brief periods of attempting to learn various instruments as well as vocal training, to no fruition. As any kid would attest, we can be troublesome learners.</p>

  <p>But I was brought up with such a deep love of music - it was just that I needed to get familiar with it in my own time. I wasn't always a fan of the rules and the orthodoxy of traditional Indian music.</p>

  <p>In hindsight, I recognize now that practice makes perfect, but also recognize that I wasn't always allowing myself to learn.</p>

  <p>You will find most of my music content under the <a href="/music/iyer">iyer</a> section of this website.</p>

  <p>Other works include (non exhaustive):</p>
  <ul>
    <li><a href="https://phyla.bandcamp.com/" target="_blank" rel="noopener noreferrer">Phyla Digital.</a> I co-founded this record label with Harv Chail (dyzfnktn). We launched several artists, musical compilations, and threw parties around the world, with a shared objective toward releasing good music and giving Singaporeans something to be proud of.</li>
    <li><a href="https://recalcitration.wordpress.com/about/" target="_blank" rel="noopener noreferrer">Subconscious Recalcitration</a>, my attempt at a music blog.</li>
    <li>I wrote most of the press releases for <a href="https://modernruinrecords.bandcamp.com/" target="_blank" rel="noopener noreferrer">Modern Ruin Records</a>.</li>
  </ul>
</BaseLayout>
